<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:targetSandboxVersion="1"
    package="es.ivan.espinardo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Reservas_Android"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />

        <activity
            android:name="es.ivan.espinardo.Launcher"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="es.ivan.espinardo.activities.user.LoginActivity" />
        <activity android:name="es.ivan.espinardo.activities.user.RegisterActivity" />

        <activity android:name="es.ivan.espinardo.activities.main.BookingsActivity" />
        <activity android:name="es.ivan.espinardo.activities.main.InstallationsActivity" />
        <activity android:name="es.ivan.espinardo.activities.main.ProfileActivity" />

        <activity android:name="es.ivan.espinardo.activities.helpers.InstallationActivity" />
        <activity android:name="es.ivan.espinardo.activities.helpers.BookingActivity" />

        <activity android:name="es.ivan.espinardo.activities.error.ErrorActivity" />

        <receiver android:name= "es.ivan.espinardo.notification.NotificationPublisher" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDu4WmedJpgV45HscxoGFALkhMaFgrIOmo" />

    </application>

</manifest>